APScheduler==3.10.4
PyYAML==6.0.1
pydantic==2.7.2
aiohttp==3.9.5
search_engine_parser==0.6.8
uvloop==0.19.0
emoji==2.12.1
azure-cognitiveservices-speech==1.37.0
selenium==4.21.0
webdriver-manager==4.0.1
langid==1.1.6
pyrofork==2.3.24
TgCrypto==1.2.5
